html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    height: 100%;
    background-image: url('../zdjecia/lapki.jpg');
    background-attachment: fixed;
}

.pasek {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
    #nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
}

.logo {
    margin-right: 20px;
    padding-right: 20px;
    border-right: 2px solid #ccc;
}

.logo img {
    height: 50px;
}

.separator {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-right: 50px;
}

.separator-text {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    font-weight: bold;
}

.separator-text p {
    margin: 2px;
    line-height: 1;
}

nav {
    flex-grow: 1;
}

#nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#nav > li {
    margin-right: 20px;
    position: relative;
}

#nav a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}

#nav > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 20%;
    width: 80%;
    background-color: #f8f9fa;
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav > li:hover > ul {
    display: block;
}

#nav > li > ul > li {
    width: 200px;
    padding: 10px;
}

#nav > li > ul > li > a {
    padding: 10px;
}

.tresc h3 {
    padding-top: 70px;
    font-size: 40px;
    text-align: center;
}

.tresc img {
    display: block;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 80%;
}

.tresc p {
    text-align: justify;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.test {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
    padding-bottom: 5px;
    min-height: 80vh;
}

table {
    width: 60%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-left: 20%;
    margin-right: 15%;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #f2f2f2;
    color: black;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table td strong {
    color: #333;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    margin-right: 150px;
    margin-left: 150px;
    padding-bottom: 40px;
}

.thumbnail {
    margin: 5px;
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    bottom: 0;
    margin-bottom: 0;
}

.footer-item {
    margin: 5px;
    font-size: 14px;
}

.footer-item img {
    width: 1em;
    height: 1em;
    margin-right: 5px;
}

.stopka {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #999;
}

.przyciski {
    text-align: center;
    padding-bottom: 30px;
}

.button {
    background-color: #6b320a;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(87, 87, 87, 0.83);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.button:hover {
    background-color: #A0522D;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.modal1 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

.modal1 img {
    width: 250px;
}

.modal-content1 {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -135px;
    border-radius: 20px;
}

.close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.opis {
    margin-right: 15%;
    margin-left: 15%;
}

.opis h3 {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
}

.opis p {
    text-align: justify;
}

.opis img {
    padding-top: 50px;
    padding-bottom: 30px;
    width: 100%;
}

.kontakt {
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 50px;
}

.kontakt h3 {
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
}

.kontakt h2 {
    text-align: center;
    padding-top: 20px;
}

.kontakt p {
    text-align: center;
}

.map img {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(87, 87, 87, 0.83);
}

form {
    padding-top: 100px;
}

.error {
    color: red;
    font-size: 0.7em;
    margin-left: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 120px;
}

.form-group input {
    flex-grow: 1;
}

.checkbox-group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    margin-left: 40px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 5px;
}

.checkbox-group label {
    width: auto;
    margin: 0;
    font-size: 12px;
    text-align: left;
}
